*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0.75),rgba(0,0,0,0.75)),url(information-technology-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-left: 70px;
}
.logo2{
    width: 80px;
    cursor: pointer;
    position: absolute;
    
    


}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar a:hover{
    font-size: 1.1em;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #0110e2;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;


/* content css */
}
.heading h1{
    color: #fff;
    margin: 20px;
    padding: 50px;
    text-decoration: underline;
    font-family: 'Gill Sans';
    text-align: center;
}
.content h2{
    color: #fff;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    font-size: 38px;
    animation-name: slidedown;
    animation-duration: 0.5s;
    
}
@keyframes slidedown{
    from{transform: translateX(100px)}
}
.content p{
    color: #fff;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
    font-size: 24px;
    font-style: italic;
    animation-name: slideright;
    animation-duration: 1s;
}
@keyframes slideright{
    from{transform: translateX(20px)}
}
.content2 h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Gill Sans';
    text-decoration: underline;
    color: #fff;
    font-size: 38px;
    animation-name: slideup;
    animation-duration: 5s;

}
@keyframes slideup{
    from{transform: translateY(20px); }
}
.content2 p{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: slideup;
    animation-duration: 5s;
}
@keyframes slideup{
    from{transform: translateY(20px)}

/*this is footer part*/
    
}
.footer{
    background-color: rgba(77, 74, 74, 0.699);
    margin-top: 20px;
    border-radius: 20px;
}
.icon{
    display: flex;
    justify-content: center;
}
.icon a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}
.icon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*hover animation in footer*/
.icon a:hover{
    background-color: black;
    transition: 0.5s;
}
.icon a:hover i{
    color: #fff;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}
.cc{
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}

